<!DOCTYPE html>
<html>
<head>
  <title>CheeseBlock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/united/bootstrap.min.css" rel="stylesheet" integrity="sha256-nKQVXFJ5JtDJlI5p1UcSf0JOFudCj9RgjBDsJSZPsS4= sha512-dbadXecsBCgqQ5XGx6SG+bO4vsfzznX6/NfAG4CuzLi76wcdLGAw2KIcsLyv7H5XsEGq0zaznpxDCAEIX9pdYA==" crossorigin="anonymous"></head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Cheeseums</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/cheeses">Cheeses</a></li>
        <li><a href="/favorites">Favorites </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("logout", logout_path, method: :DELETE,  class: 'btn btn-info btn-xs') if user_logged_in?  %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class='container-fluid'>
  <div class="row">
        <div class="col-md-2"></div>
        <div class="well col-md-8">
            <%= yield %>
        </div>
        <div class="col-md-2"></div>
  </div>
</div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
